* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #112315;
}

header {
	background-image: url("hero-image.jpg");
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

nav {
	display: flex;
	justify-content: flex-end;
	margin: 20px;
}

nav ul {
	list-style: none;
}

nav ul li {
	display: inline-block;
	margin: 0 10px;
}

nav ul li a {
	color: white;
	text-decoration: none;
}

.hero-content {
	color: white;
	text-align: center;
}

.hero-content h1 {
	font-size: 4rem;
	margin-bottom: 20px;
}

.hero-content p {
	font-size: 1.5rem;
	margin-bottom: 30px;
}

.hero-content button {
	background-color: white;
	color: black;
	font-size: 1
}